<div id="hiddenDiv">
  <mat-card class="full-width3" fxLayoutAlign=" space-between center" fxLayout="column" id="content">

    <div style="border-radius: 5px;" id="logo" fxLayoutAlign="center">
      <img src="../../../../assets/logo.png">
    </div>
    <br>

    <ng-container fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" class="full-width"
      *ngFor="let project of taskService.getProjects(); index as i">
      <mat-card-title style="font-family: 'pdf-title, sans-serif'; font-weight: bold; font-size: 32px;"
        fxLayoutAlign="center"> {{
        project.title }}
      </mat-card-title>
    </ng-container>

    <br>

    <mat-card-content>

      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let task of (taskService.getCurrentProjectSubject() | async)?.tasks; index as i">
          <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[column.id]}}</mat-cell>
          </ng-container>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </mat-card-content>

  </mat-card>
</div>